<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/editor.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/dialog.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/_styles.css" media="all">

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/ie7.css" media="all">
  <![endif]-->

  <script>var baseUrl = '{{base_url}}'</script>
  <script type="text/javascript" src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/mousetrap.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.dialog.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.placeholder.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/editor/gollum.editor.js"></script>
  {{#mathjax}}<script>(function(d,j){
  j = d.createElement('script');
  j.src = 'https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
  (d.head || d.getElementsByTagName('head')[0]).appendChild(j);
  }(document));
  </script>{{/mathjax}}

  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>
      <a href="{{base_url}}/">
        Freifunk Lübeck
      </a>
    </h1>
  </header>
  <aside> 
    {{#has_sidebar}}
    <div id="wiki-sidebar" class="gollum-{{sidebar_format}}-content">
      <div id="sidebar-content" class="markdown-body">
        {{{sidebar_content}}}
      </div>
    </div>
    {{/has_sidebar}}

    <h2>Actions</h2>

    <ul class="actions">
      <li>
        {{>searchbar}}
      </li>
      <li><a href="{{base_url}}/pages"
        class="action-all-pages">All</a></li>
      <li><a href="{{base_url}}/fileview"
      class="action-all-pages">Files</a></li>
      <li>
        <a href="#" id="minibutton-new-page">New</a></li>
      {{#may_login}}
      <li>
        {{#session.username}}
        <a href="{{base_url}}/logout">Logout
          ({{session.username}})
        </a>
        {{/session.username}}
        {{^session.username}}
        <a href="{{base_url}}/login">Login</a>
        {{/session.username}}
      </li>
      {{/may_login}}
    </ul>
  </aside>

  {{{yield}}}

</body>
</html>
