<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/editor.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/dialog.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/template.css" media="all">
  
  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="/css/ie7.css" media="all">
  <![endif]-->
  
  <script type="text/javascript" src="/javascript/jquery.js"></script>
  <script type="text/javascript" src="/javascript/gollum.js"></script>
  <script type="text/javascript" src="/javascript/gollum.dialog.js"></script>
  <script type="text/javascript" src="/javascript/gollum.placeholder.js"></script>
  
  <script type="text/javascript" 
    src="/javascript/editor/gollum.editor.js"></script>
  <title>{{title}}</title>
</head>
<body>

<div id="wiki-wrapper" class="page">
<div id="head">
  <ul class="actions">
    <li class="minibutton"><a href="/"
       class="action-edit-page">Home</a></li>
    <li class="minibutton"><a href="/pages"
      class="action-all-pages">All Pages</a></li>
    <li class="minibutton" class="jaws">
      <a href="#" id="minibutton-new-page">New Page</a></li>
    {{#may_login}}
    <li class="minibutton">
      {{#session.username}}
      <a href="/logout">Logout
        ({{session.username}})
      </a>
      {{/session.username}}
      {{^session.username}}
      <a href="/login">Login</a>
      {{/session.username}}
    </li>
    {{/may_login}}
  </ul>
  {{>searchbar}}

  {{#has_header}}
  <div id="wiki-header" class="gollum-{{header_format}}-content">
    <div id="header-content">
      {{{header_content}}}
    </div>
  </div>
  {{/has_header}}
</div>
</div>

{{{yield}}}

</body>
</html>
