<div id="wiki-wrapper" class="results">
<div id="head">
  <ul class="actions">
    <li class="minibutton"><a href="/"
       class="action-edit-page">Home</a></li>
    <li class="minibutton"><a href="/pages"
      class="action-all-pages">All Pages</a></li>
    <li class="minibutton jaws">
      <a href="#" id="minibutton-new-page">New Page</a></li>
    {{#editable}}
    <li class="minibutton"><a href="/edit/{{escaped_url_path}}"
       class="action-edit-page">Edit Page</a></li>
    {{/editable}}
    <li class="minibutton"><a href="/history/{{escaped_url_path}}"
       class="action-page-history">Page History</a></li>
    {{#may_login}}
    <li class="minibutton">
      {{#session.username}}
      <a href="/logout">Logout
        ({{session.username}})
      </a>
      {{/session.username}}
      {{^session.username}}
      <a href="/login">Login</a>
      {{/session.username}}
    </li>
    {{/may_login}}
  </ul>
  {{>searchbar}}

  {{#has_header}}
  <div id="wiki-header" class="gollum-{{header_format}}-content">
    <div id="header-content">
      {{{header_content}}}
    </div>
  </div>
  {{/has_header}}
</div>
<div id="pages">

{{#has_results}}
  <div id="file-browser">
    <div class="breadcrumb">
      {{{breadcrumb}}}
    </div>
    <ul>
      {{{files_folders}}}
    </ul>
  </div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no pages in <strong>{{ref}}</strong>.
  </p>
{{/no_results}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

